@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700;800&family=Oswald:wght@200..700&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}

body {
  background-image: url("../src/img/svg2.svg");
  background-size: cover;
  background-position: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-repeat: no-repeat;
}

h1 {
  font-size: 30px;
}

#p1 {
  background-image: url("../src/img/portfolio/ree.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#p2 {
  background-image: url("../src/img/portfolio/store.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#p3 {
  background-image: url("../src/img/portfolio/bg4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#p4 {
  background-image: url("../src/img/portfolio/bg5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#button {
  background-image: url(../src//img/code.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
