@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 2;
}
body{
    background-color: #40fefb;
    background-image: -webkit-linear-gradient(90deg, #40fefb 0%, #707efa 59%);
    background-image: -moz-linear-gradient(90deg, #40fefb 0%, #707efa 59%);
    background-image: -o-linear-gradient(90deg, #40fefb 0%, #707efa 59%);
    background-image: linear-gradient(90deg, #40fefb 0%, #707efa 59%);  
}